* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100vh;
  font: inherit;
  vertical-align: baseline;
}

body {
  background-color: whitesmoke;
}

#other_timeline {
  background-color: whitesmoke;
  position: absolute;
  display: flex;
  height: 68%;
  width: 100%;
}

#file_list {
  background-color: whitesmoke;
  width: 210px;
  height: 100%;
  overflow: scroll;
  /*スクロールバー非表示（IE・Edge）*/
  -ms-overflow-style: none;
  /*スクロールバー非表示（Firefox）*/
  scrollbar-width: none;
}

#file_list::-webkit-scrollbar {
  display: none;
}

#canvas_wrapper {
  background-color: whitesmoke;
  position: relative;
  width: 80%;
  max-width: calc(80% - 210px);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#canvas_size {
  position: absolute;
  width: 90%;
  height: 90%;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

#render_progress {
  position: fixed;
  width: 300px;
  height: 80px;
  border-radius: 5px;
  bottom: 20px;
  right: 20px;
  background-color: rgb(27, 27, 27);
  z-index: 1;

  display: none;
  justify-content: center;
  align-items: center;
}

#render_progress_value {
  color: white;
  font-weight: bold;
}

.p5Canvas{
  box-sizing: border-box;
  box-shadow: 0px 0px 10px #000000;
}