*{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100vh;
  font: inherit;
  vertical-align: baseline;
}

#canvas_size {
  position: fixed;
  width: 112vh;
  height: 63vh;

  left: 50%;
  top: calc(63vh / 2 + 10%);
  transform: translate(-50%, -50%);
}
